orderWrap{
    display: block;
    width: 90%;
    min-width: 700px;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: border-box;
    tTitle{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: #e0e0e0;
        border-bottom: 1px dotted #000;
        
        > * {
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }
        orderNoTit{
            width: 10%;
            background: #e0e0e0;
        }
        orderDate{
            width: 15%;
        }
        custNum{
            width: 15%;
        }
        code{
            width: 10%;
        }
        productName{
            width: 15%;
        }
        qty{
            width: 5%;
        }
        price{
            width: 10%;
        }
        totalPrice{
            width: 10%;
        }
        method{
            width: 10%;
        }
    }
    order{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border-bottom: 1px dotted #000;
        &:last-child{
            border-bottom: 0;
        }
        > * {
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }
        orderNo{
            width: 10%;
            background: #e0e0e0;
        }
        date{
            width: 15%;
        }
        custNo{
            width: 15%;
        }
        prdCode{
            width: 10%;
        }
        prdName{
            width: 15%;
        }
        prdQtt{
            width: 5%;
        }
        prdPrice{
            width: 10%;
            &::before{
                display: inline-block;
                content: "$";
            }
        }
        total{
            width: 10%;
            &::before{
                display: inline-block;
                content: "$";
            }
        }
        payment{
            width: 10%;
        }
    }
}

prdWrap{
    display: block;
    width: 40%;
    min-width: 320px;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: border-box;

    tTitle{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: #e0e0e0;
        border-bottom: 1px dotted #000;
        
        > * {
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }
        prdCodeTit{
            width: 20%;
        }
        prdNameTit{
            width: 40%;
        }
        prdQttTit{
            width: 20%;
        }
        prdPriceTit{
            width: 20%;
        }
    }
    product{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border-bottom: 1px dotted #000;
        font-size: 0;
        &:last-child{
            border-bottom: 0;
        }
        > * {
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }
        prdCode{
            width: 20%;
            background: #e0e0e0;
        }
        prdName{
            width: 40%;
        }
        prdQtt{
            width: 20%;
        }
        prdPrice{
            width: 20%;
        }
    }
}

empWrap{
    display: block;
    width: 40%;
    min-width: 320px;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: border-box;
    tTitle{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background: #e0e0e0;
        border-bottom: 1px dotted #000;
        
        > * {
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }
        empIdTit{
            width: 20%;
        }
        userNameTit{
            width: 40%;
        }
        pwTit{
            width: 40%;
        }
    }
    employee{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border-bottom: 1px dotted #000;
        font-size: 0;
        &:last-child{
            border-bottom: 0;
        }
        > * {
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }
        empId{
            width: 20%;
            background: #e0e0e0;
        }
        userName{
            width: 40%;
        }
        pw{
            width: 40%;
        }
    }
}