orderWrap{
    display: block;
    width: 90%;
    min-width: 700px;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: border-box;
    tTitle{
        display: block;
        width: 100%;
        background: #e0e0e0;
        border-bottom: 1px dotted #000;
        font-size: 0;
        
        > * {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
        }   
    }
    order{
        display: block;
        width: 100%;
        border-bottom: 1px dotted #000;
        font-size: 0;
        &:last-child{
            border-bottom: 0;
        }
        > * {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
        }
        orderNo{
            background: #e0e0e0;
        }
        prdPrice{
            &::before{
                display: inline-block;
                content: "$";
            }
        }
        total{
            &::before{
                display: inline-block;
                content: "$";
            }
        }
    }
    orderNoTit, orderNo{
        width: 10%;
    }
    orderDate, date{
        width: 15%;
    }
    custNum, custNo{
        width: 15%;
    }
    code, prdCode{
        width: 10%;
    }
    productName, prdName{
        width: 15%;
    }
    qty, prdQty{
        width: 5%;
    }
    price, prdPrice{
        width: 10%;
    }
    totalPrice, total{
        width: 10%;
    }
    method, payment{
        width: 10%;
    }
}

prdWrap{
    display: block;
    width: 40%;
    min-width: 320px;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: border-box;

    tTitle{
        display: block;
        width: 100%;
        background: #e0e0e0;
        border-bottom: 1px dotted #000;
        font-size: 0;
        
        > * {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
        }   
    }
    product{
        display: block;
        width: 100%;
        border-bottom: 1px dotted #000;
        font-size: 0;
        &:last-child{
            border-bottom: 0;
        }
        > * {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
        }
        prdCode{
            background: #e0e0e0;
        }
    }
    prdCodeTit, prdCode{
        width: 20%;
    }
    prdNameTit, prdName{
        width: 40%;
    }
    prdQtyTit, prdQty{
        width: 20%;
    }
    prdPriceTit, prdPrice{
        width: 20%;
    }
}

empWrap{
    display: block;
    width: 40%;
    min-width: 320px;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: border-box;
    
    tTitle{
        display: block;
        width: 100%;
        background: #e0e0e0;
        border-bottom: 1px dotted #000;
        font-size: 0;
        
        > * {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
        }   
    }

    employee{
        display: block;
        width: 100%;
        border-bottom: 1px dotted #000;
        font-size: 0;
        &:last-child{
            border-bottom: 0;
        }
        > * {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
        }
        empId{
            background: #e0e0e0;
        }
    }
    empIdTit, empId{
        width: 20%;
    }
    userNameTit, userName{
        width: 40%;
    }
    pwTit, pw{
        width: 40%;
    }
}